body {
 font-family: arial;
}

#server-name {
  background-color: #CCCCCC;
  left: 45px;
  margin-bottom: 0;
  padding-left: 15px;
  position: relative;
  width: 120px;
}

#status-feed {
  color: #000000;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 0;
  padding: 0;
}

#status-feed li {
  color: #000000;
  list-style: none outside none;
  padding: 5px;
  position: relative;
  
}

#status-feed li:hover {
  background-color: #FFF;
  cursor: pointer;
  border-style: solid !important;
  border-width: 1px;
}

#status-feed li span{
  margin: 5px;
  padding: 5px;
}

#status-feed li.active {
  background-color: #FFF !important;
  border-style: solid !important;
  border-width: 1px;
}

.timestamp {
  font-size: 14px;
  font-style: italic;
  min-width: 114px;
  position: absolute;
  right: -15px;
  top: -3px;
}

.url {
  font-size: 14px;
  min-width:30px;
}

.msg {
  min-width:200px;
}

.meta {
  color: #000;
  position: absolute;
  right: 0px;
  bottom: 0px;
}


/* npm / winston logging levels */

.error {
  background-color: #FFD2CC;
}

.warn {
  background-color: #F7F2B8;
}

.info {
  background-color: #D1FBD7;
}

.data {
  background-color: #ADF2F9;
}
